

    <h1 class="page-header">
    <%=t "#{controller_name}_#{action_name}" %></h1>


    <div class="panel-heading">
    Cadastrar Usuário
    </div>
    <div class="panel-body">
    <%= render 'form' %>  
    </div>
